{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Mileto Online</title>
    <link rel="stylesheet" href= "{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" type="image/png" href="static\img\logos\Perfil-2.ico">
</head>
<body>
    <header class="main-header">
        <div class="container container--flex">
            <div class="main-header__container">
                <h1 class="main-header__title"> {% block title %} {% endblock %}</title></h1>   
                <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
                <nav class="main-nav" id="main-nav">
                    <ul class="menu">
                        <li class="menu__item"><a href="/" class="menu__link">Inicio</a></li>
                        <li class="menu__item"><a href="/hombre" class="menu__link">Hombre</a></li>
                        <li class="menu__item"><a href="/mujer" class="menu__link">Mujer</a></li>
                        <li class="menu__item"><a href="/niños" class="menu__link">Niños</a></li>
                        <li class="menu__item"><a href="/descuentos" class="menu__link">Rebajas</a></li>
                        <li class="menu__item"><a href="/about" class="menu__link">Quienes somos</a></li>
                    </ul>
                </nav>    
           </div>
            <div class="main-header__container">
                <p class="main--header__txt"><p class="main--header__txt">Need help</p><i class="fas fa-phone"></i> call 123456789</p>
            </div>          
        <div class="main-header__container">
            <a href="" class="main-header__link"><i class="fas fa-user"></i> Sign in!</a>
            <a href="" class="main-header__btn">My cart <i class="fas fa-shopping-cart"></i></a>
            <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
        </div> 
        </div>         
    </header> 
    <!-- <div class="container-slider">
        <div class="slider" id="slider">
          <div class="slider__section">
            <img src="static/img/3_banner/Banner_Opc1.jpg" alt="" class="slider__img">
            <div class="slider__content"> 
              <h2 class="slider__title">colocar una desc depende de la imagen </h2>
              <p class="slider__txt">texto</p>
              <a href="" class="slider__link">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="static/img/3_banner/Banner_Opc2.jpg" alt="" class="slider__img">
            <div class="slider__content"> 
              <h2 class="slider__title">colocar una desc depende de la imagen </h2>
              <p class="slider__txt">texto</p>
              <a href="" class="slider__link">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="static/img/3_banner/Banner_Opc3.jpg" alt="" class="slider__img">
            <div class="slider__content"> 
              <h2 class="slider__title">colocar una desc depende de la imagen </h2>
              <p class="slider__txt">texto</p>
              <a href="" class="slider__link">SHOP NOW</a>
            </div>
          </div>
          <div class="slider__section">
            <img src="static/img/3_banner/Banner_Opc4.jpg" alt="" class="slider__img">
            <div class="slider__content"> 
              <h2 class="slider__title">colocar una desc depende de la imagen </h2>
              <p class="slider__txt">texto</p>
              <a href="" class="slider__link">SHOP NOW</a>
            </div>
          </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
      </div>
      <main class="main">
        <div class="container">
         <h2 class="main-title">New Arrivals for you</h2>
         <section class="container-products">
          <div class="product">
            <img src="static/img/productos/WhatsApp Image 2022-03-23 at 11.34.35 AM.jpeg" alt="" class="product__img">
            <div class="product__description">
              <h3 class="product__title">Descripcion</h3>
              <span class="product__price">$1</span>
            </div>
            <i class="product__icon fas fa-cart-plus"></i>
          </div>
          <div class="product">
            <img src="static\img\Productos\WhatsApp Image 2022-03-24 at 1.35.20 PM.jpeg" alt="" class="product__img">
            <div class="product__description">
              <h3 class="product__title">Descripcion</h3>
              <span class="product__price">1$</span>
            </div>
            <i class="product__icon fas fa-cart-plus"></i>
          </div>
          <div class="product">
            <img src="static\img\Productos\WhatsApp Image 2022-03-24 at 1.50.17 PM (1).jpeg" alt="" class="product__img">
            <div class="product__description">
              <h3 class="product__title">Descripcion</h3>
              <span class="product__price">1$</span>
            </div>
            <i class="product__icon fas fa-cart-plus"></i>
          </div>
          <div class="product">
            <img src="static\img\Productos\WhatsApp Image 2022-03-24 at 1.50.17 PM (7).jpeg" alt="" class="product__img">
            <div class="product__description">
              <h3 class="product__title">Descripcion</h3>
              <span class="product__price">1$</span>
            </div>
            <i class="product__icon fas fa-cart-plus"></i>
          </div>
 
         </section>
        </div>
      </main> -->
      {% block content %}
      {% endblock %}
      <br> 
      <footer class="main-footer">
        <div class="footer__section">
          <h2 class="footer__title">About Us</h2>
          <p class="footer__txt">Somos Tienda Mileto, una tienda comercial accesible donde podrás encontrar todo tipo de accesorios y productos que busques en el momento indicado.
           Productos excelentes (originales, de marca, de calidad, fashion, de utilidadbien curados y traídos de USA y del mundo) - a buenos precios. Trabajamos con la mejor calidad y una servicio personalizado, con precios totalmente accesibles, dando
            posibilidades de cuotas a pagar, apartados y pedidos por encargue.</p>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">Location</h2>
          <p class="footer__txt">Ave.34, Entre Calle 32 y 33, Acarigua</p>
          <h2 class="footer__title">Contact</h2>
          <p class="footer__txt">Phone: +123456789</p>
          <p class="footer__txt">Email: equipo@tiendamileto.com</p>
        </div>
        <div class="footer__section">
          <h2 class="footer__title">Sigs up for you offers</h2>
          <p class="footer__txt">By subscribing to our mailing list you will always get latest news and updates from us</p>
          <input type="email" class="footer__input" placeholder="Enter your email">
        </div>
        <p class="copy">© 2023 Mileto Venezuela</p>
      </footer>    
      <script src="/static/js/slider.js"></script>
      <script src="/static/js/menu.js"></script>
</body>
</html>