{% extends 'base.html' %}
{% load static %}
{% block title %} Mileto{% endblock %}
{% block content %}
<br><br><br>
<form action="/form_registro/" method="post"> {% csrf_token %}
  <div class="form-group mt-4 text-center">
    <h6>Ingrese sus datos</h6>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Correo Electronico</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="pepe@hotmail.com">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="1234">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Dirección</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="El sisal 2323">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Direccion 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa, o piso">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Estado</label>
      <select id="inputState" class="form-control">
        <option selected>Lara</option>
        <option selected>Falcon</option>
        <option selected>Yaracuy</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Codigo Postal</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRecuperacion">Ingrese un codigo de recuperacion de clave</label>
      <input type="text" class="form-control" id="inputRecuperacion">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        la informacion suministrada es correcta
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
  <br><br><br>
</form>
{% endblock %}